html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    background: #eee;
}

#explorer {
    padding: 5% 10px;
    height: 90%;
    overflow:hidden;
    
    #explorerOptions {
        height: 30px;
    }

    #directory {
        overflow-y: auto;
        height: calc(100% - 30px);

        div {
            padding: 10px;
            margin: 5px 0px;
            border-radius: 3px;
            background: #888;
            cursor: pointer;
        }
    }
}